<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Asistencias
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showFilter = !showFilter">
        <ion-icon slot="start" name="options-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="assistances-content">
  <ng-container *ngIf="assistances">
    <ion-item-group *ngIf="showFilter">
      <ion-item-divider sticky>
        <ion-label>Filtros</ion-label>
      </ion-item-divider>
      <ion-item class="input-item">
        <ion-label position="floating">Parroquia</ion-label>
        <ion-select cancelText="Cancelar" okText="OK">
          <ion-select-option>Sagrado Corazón</ion-select-option>
          <ion-select-option>Nuestra Sra. de Belén</ion-select-option>
          <ion-select-option>Santa Teresita</ion-select-option>
          <ion-select-option>Nuestra Sra. Del Carmen</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="input-item">
        <ion-label position="floating">Desde</ion-label>
        <ion-datetime value="2019-07-26T15:43:40.394Z" display-timezone="utc" cancelText="Cancelar" okText="OK"></ion-datetime>
      </ion-item>

      <ion-item class="input-item">
        <ion-label position="floating">Hasta</ion-label>
        <ion-datetime value="2020-12-31T15:43:40.394Z" display-timezone="utc" cancelText="Cancelar" okText="OK"></ion-datetime>
      </ion-item>

    </ion-item-group>

    <ion-item-group (click)="doGoDetail()">
      <ion-item-divider sticky>
        <ion-label>Asistencias</ion-label>
      </ion-item-divider>
      <ion-item class="assistance-item" lines="none" *ngFor="let assistance of assistances.assistances">
        <ion-row class="assistance-item-wrapper">
          <ion-col size="2">
            <app-aspect-ratio [ratio]="{w: 1, h: 1}">
              <app-image-shell class="assistance-image" [src]="assistance.image" [alt]="'user image'"></app-image-shell>
            </app-aspect-ratio>
          </ion-col>
          <ion-col class="details-wrapper">
            <h2 class="details-description"><ion-icon name="help-buoy-outline"></ion-icon> {{ assistance.assistance_type_name }}</h2>
            <p class="details-description"><ion-icon name="compass-outline"></ion-icon> {{ assistance.church_name }}</p>
            <h2 class="details-name"><ion-icon name="person-outline"></ion-icon> {{ assistance.beneficiary_name }}</h2>
            <p class="details-description">
              <ion-icon name="finger-print-outline"></ion-icon> {{ assistance.beneficiary_document_number }}
            </p>
          </ion-col>
          <ion-col size="2" class="date-wrapper">
            <h3 class="assistance-date"><ion-icon name="calendar-outline"></ion-icon> {{ assistance.delivered_at }}</h3>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-item-group>
  </ng-container>

  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="doGoDetail()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
