<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Entrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-content">
  <h2 class="auth-title">
    Hola!
    <br />
    Estás en
    <br />
    Asistencias Buen Samaritano
  </h2>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-list class="inputs-list" lines="full">
      <ion-item class="input-item">
        <ion-input
          type="email"
          placeholder="Email"
          formControlName="email"
          clearInput
          autocapitalize="off"
          inputmode="email"
          [(ngModel)]="email"
        ></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div
            class="error-message"
            *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)"
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <ion-item class="input-item">
        <app-show-hide-password>
          <ion-input type="password" placeholder="Constraseña" formControlName="password" [(ngModel)]="password"></ion-input>
        </app-show-hide-password>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div
            class="error-message"
            *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)"
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
    </ion-list>

    <ion-button class="login-btn" type="submit" expand="block" [disabled]="!loginForm.valid">Entrar</ion-button>
  </form>
</ion-content>
