 <ion-tabs selectedIndex="0">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="beneficiaries/beneficiaries-list">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label class="tab-title">Beneficiarios</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="assistances/assistances-list">
      <ion-icon name="help-buoy-outline"></ion-icon>
      <ion-label class="tab-title">Asistencias</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
