:host-context(.md) {
  .assistancetypes-details-section {
    .assistancetypes-actions-wrapper {
      max-width: 12ex;
      max-width: 12ch;
    }
  }
  .assistancetypes-segment {
    ion-segment-button {
      --color-checked: var(--ion-color-dark);
    }
  }
}
