<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Beneficiario</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="!beneficiaryForm.valid" (click)="saveBeneficiary(beneficiary)"> Guardar </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="beneficiary-content">
  <form [formGroup]="beneficiaryForm" (ngSubmit)="doViewAssistances()">
    <ion-list class="inputs-list" lines="full">
      <ion-item class="input-item">
        <ion-input
          type="text"
          placeholder="Nombre completo"
          [(ngModel)]="beneficiary.name"
          formControlName="name"
          clearInput
          autocapitalize="on"
          inputmode="text"
        ></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.name">
          <div
            class="error-message"
            *ngIf="beneficiaryForm.get('name').hasError(validation.type) && (beneficiaryForm.get('name').dirty || beneficiaryForm.get('name').touched)"
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <ion-item class="input-item">
        <ion-input type="number" placeholder="Número documento" [(ngModel)]="beneficiary.document_number" formControlName="document_number">
        </ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.document_number">
          <div
            class="error-message"
            *ngIf="beneficiaryForm.get('document_number').hasError(validation.type) && (beneficiaryForm.get('document_number').dirty || beneficiaryForm.get('document_number').touched)"
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <ion-item class="input-item">
        <ion-input type="number" placeholder="Número telefónico" [(ngModel)]="beneficiary.phone_number" formControlName="phone_number">
        </ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.phone_number">
          <div
            class="error-message"
            *ngIf="beneficiaryForm.get('phone_number').hasError(validation.type) && (beneficiaryForm.get('phone_number').dirty || beneficiaryForm.get('phone_number').touched)"
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <ion-item class="input-item terms-item">
        <ion-label>¿Es teléfono fijo?</ion-label>
        <ion-checkbox formControlName="is_landline" 
        [(ngModel)]="beneficiary.is_landline">
        </ion-checkbox>
      </ion-item>
    </ion-list>

    <ion-button class="login-btn" type="submit" expand="block">Ver asistencias</ion-button>
  </form>
</ion-content>
