<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Asistencia</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        Guardar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="assistance-content">
  <form [formGroup]="assistanceForm" (ngSubmit)="doViewAssistances()">
    <ion-list class="inputs-list" lines="full">
      <ion-item class="input-item"
      (click)="goToChurchsList(church)"
      >
        <ion-label>
          {{(church.id)?"church.name":"Seleccione La Parroquia"}}
        </ion-label>
        <ion-icon name="arrow-dropright"></ion-icon>
      </ion-item>

      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.churh_id">
          <div
            class="error-message"
            *ngIf="assistanceForm.get('churh_id').hasError(validation.type) && (assistanceForm.get('churh_id').dirty || assistanceForm.get('churh_id').touched)"
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <ion-item class="input-item"
      (click)="goToAssistanceTypesList(assistanceType)"
      >
        <ion-label>
          {{(assistanceType.id)?"assistanceType.name":"Seleccione Tipo de Asistencia"}}
        </ion-label>
        <ion-icon name="arrow-dropright"></ion-icon>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.assistance_type_id">
          <div
            class="error-message"
            *ngIf="assistanceForm.get('assistance_type_id').hasError(validation.type) && (assistanceForm.get('assistance_type_id').dirty || assistanceForm.get('assistance_type_id').touched)"
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <ion-item class="input-item">
        <ion-input
          type="number"
          placeholder="Número documento"
          formControlName="document_number"
          (ionBlur)="presentToastWithOptions()"
        ></ion-input>
      </ion-item>
      <ion-item class="input-item">
        <ion-label position="floating">Fecha</ion-label>
        <ion-datetime value="2020-12-31T15:43:40.394Z" display-timezone="utc" cancelText="Cancelar" okText="OK"></ion-datetime>
      </ion-item>

      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.document_number">
          <div
            class="error-message"
            *ngIf="assistanceForm.get('document_number').hasError(validation.type) && (assistanceForm.get('document_number').dirty || assistanceForm.get('document_number').touched)"
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <ion-item class="input-item terms-item">
        <ion-label>Foto</ion-label>
        <ion-row>
          <ion-col col-12>
            <div class="wrapper-img">
              <div>
                <img src="../../../assets/sample-images/thumb.png" />
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
