<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Parroquias</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="churchs-content">

  <ion-searchbar class="churchs-searchbar" animated [(ngModel)]="searchQuery" (ionChange)="searchList()"></ion-searchbar>


  <ng-template #churchsItem let-church="church">
    <ion-row class="churchs-details-section">
      <ion-col class="churchs-data-wrapper">
        <div class="churchs-info">
          <h3 class="churchs-name">
            <app-text-shell [data]="church.name"></app-text-shell>
          </h3>
        </div>
      </ion-col>
    </ion-row>
  </ng-template>


  <section [hidden]="segmentValue !== 'churchs'">
    <ion-list class="churchs-list" *ngIf="churchsList.length > 0">
      <ion-item 
        class="churchs-item" 
        *ngFor="let church of churchsList" 
        (click)="goToBackPage(church)"
      >
        <ng-container *ngTemplateOutlet="churchsItem; context: { church: church }"></ng-container>
      </ion-item>
    </ion-list>
    <ng-container *ngIf="churchsList.length <= 0">
      <h3 class="empty-list-message">Sin Parroquias</h3>
    </ng-container>
  </section>
</ion-content>
