:host-context(.md) {
  .beneficiary-details-section {
    .beneficiary-actions-wrapper {
      max-width: 12ex;
      max-width: 12ch;
    }
  }
  .beneficiaries-segment {
    ion-segment-button {
      --color-checked: var(--ion-color-dark);
    }
  }
}
