:host-context(.ios) {
  .churchs-segment {
    --background: var(--page-segment-background);
    padding: var(--page-margin);

    ion-segment-button {
      --color-checked: var(--ion-color-light);
    }
  }

  ion-searchbar.churchs-searchbar {
    padding-top: 0px;
  }
}
