app-image-shell.churchs-image {
  --image-shell-border-radius: var(--page-border-radius);
}

.churchs-name > app-text-shell {
  --text-shell-line-height: 16px;
  max-width: 50%;

  &.text-loaded {
    max-width: unset;
  }
}

.churchs-job > app-text-shell {
  --text-shell-line-height: 14px;
  max-width: 70%;

  &.text-loaded {
    max-width: unset;
  }
}
