:host-context(.md) {
  .churchs-details-section {
    .churchs-actions-wrapper {
      max-width: 12ex;
      max-width: 12ch;
    }
  }
  .churchs-segment {
    ion-segment-button {
      --color-checked: var(--ion-color-dark);
    }
  }
}
