<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Tipos de Asistencia</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="assistancetypes-content">

  <ion-searchbar class="assistancetypes-searchbar" animated [(ngModel)]="searchQuery" (ionChange)="searchList()"></ion-searchbar>


  <ng-template #assistancetypesItem let-assistancetype="assistancetype">
    <ion-row class="assistancetypes-details-section">
      <ion-col class="assistancetypes-data-wrapper">
        <div class="assistancetypes-info">
          <h3 class="assistancetypes-name">
            <app-text-shell [data]="assistancetype.name"></app-text-shell>
          </h3>
        </div>
      </ion-col>
    </ion-row>
  </ng-template>


  <section [hidden]="segmentValue !== 'assistancetypes'">
    <ion-list class="assistancetypes-list" *ngIf="assistanceTypesList.length > 0">
      <ion-item 
        class="assistancetypes-item" 
        *ngFor="let assistancetype of assistanceTypesList" 
        (click)="goToBackPage(assistancetype)"
      >
        <ng-container *ngTemplateOutlet="assistancetypesItem; context: { assistancetype: assistancetype }"></ng-container>
      </ion-item>
    </ion-list>
    <ng-container *ngIf="assistanceTypesList.length <= 0">
      <h3 class="empty-list-message">Sin Tipos de Asistancias</h3>
    </ng-container>
  </section>
</ion-content>
