<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Beneficiarios</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="beneficiaries-content">

  <ion-searchbar class="beneficiaries-searchbar" animated [(ngModel)]="searchQuery" (ionChange)="searchList()"></ion-searchbar>


  <ng-template #beneficiaryItem let-beneficiary="beneficiary">
    <ion-row class="beneficiary-details-section">
      <ion-col class="beneficiary-data-wrapper">
        <div class="beneficiary-info">
          <h3 class="beneficiary-name">
            <app-text-shell [data]="beneficiary.name"></app-text-shell>
          </h3>
          <h5 class="beneficiary-job">
            <app-text-shell [data]="beneficiary.document_number"></app-text-shell>
          </h5>
          <h5 class="beneficiary-job">
            <app-text-shell [data]="'Ultima asistencia'"></app-text-shell>
          </h5>
        </div>
      </ion-col>
    </ion-row>
  </ng-template>



  <section [hidden]="segmentValue !== 'beneficiaries'">
    <ion-list class="beneficiaries-list" *ngIf="beneficiariesList.length > 0">
      <ion-item 
        class="beneficiary-item" 
        *ngFor="let beneficiary of beneficiariesList" 
        (click)="goBeneficiaryDetail(beneficiary)"
      >
        <ng-container *ngTemplateOutlet="beneficiaryItem; context: { beneficiary: beneficiary }"></ng-container>
      </ion-item>
    </ion-list>
    <ng-container *ngIf="beneficiariesList.length <= 0">
      <h3 class="empty-list-message">Sin Beneficiarios</h3>
    </ng-container>
  </section>

<!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goBeneficiaryDetail()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
